.burger-constructor {
  min-width: 50%;
  text-align: left;
  background-color: #131316;
}

.burger-constructor__items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  max-height: 500px;
  overflow-y: auto;
  padding-right: 10px;
}

.burger-constructor__bottom {
  text-align: right;
}
