.burger-constructor {
  min-width: 60%;
  text-align: left;
  background-color: #131316;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.burger-constructor__bun {
  position: relative;
  z-index: 1;
}

.burger-constructor__items {
  max-height: 400px;
  overflow-y: auto;
}

.burger-constructor__bottom {
  display: flex;
  text-align: right;
  margin-top: auto;
}
