.header-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  padding-left: 10px;
  gap: 10px;
}


.header-item__default {
  color: #8585AD;
}

.header-item__active {
  color: white;
}
