.app-header {
  background-color: #1c1c21;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.app-header__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.app-header__section {
  display: flex;
  align-items: center;
}

.app-header__left-section {
  composes: app-header__section;
}

.app-header__right-section {
  composes: app-header__section;
}

.app-header__logo {
  margin: 0 auto;
}
